<h1> GhOsT PoStS</h1>
<a href="/newpost"> add post </a>
<a href="/roasts">Roasts</a>
<a href="/boasts">Boasts</a>
<a href="/scores">sort by score</a>



{% for post in ghostposts %}
     {% if post.boasts %}
        <p>BOAST:</p>
     {% else %}
        <p>ROAST:</p>
    {% endif %}  
    <p>{{post.text}}</p>
    <p>{{post.added}}</p>
    <p>{{post.post_date}}</p>
    <a href="upvote/{{post.id}}"><button>upvote</button></a>
    <a href="downvote/{{post.id}}"><button>downvote</button></a>

{% endfor %}    